.tagList,
.summary {
  margin-bottom: 50px;
}

.tagList ul {
  margin-top: 20px;
}

.description {
  margin-bottom: 20px;
}

.info {
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
}

.info-item {
  margin-right: 40px;
  font-style: oblique;
}
