$color-primary: lightblue;
$color-secondary: darkblue;
$color-text-secondary: #767676;
$color-links: #005c92;
$color-border: #ddd;

$breakpoint-small: 760px;

$padding-horizontal-small: 15px;
$padding-horizontal-large: 60px;

$text-header-normal: 20px;
$text-header-small: 16px;

$content-max-width: 900px;
