@import 'styles/variables';

$padding-vertical: 0.8rem;

.container {
  background-color: #fff;
  // border-bottom: 1px solid $color-border;
  display: grid;
  padding: $padding-vertical $padding-horizontal-small;
  grid-row-gap: 10px;
  grid-template-columns: none;
  grid-template-areas:
    'title menu-items'
    'search search';

  @media (min-width: $breakpoint-small) {
    padding: $padding-vertical $padding-horizontal-large;
    grid-template-columns: 2fr 4fr 2fr;
    grid-row-gap: 0;
    grid-column-gap: 40px;
    grid-template-areas: 'title search menu-items';
  }
}

.title {
  grid-area: title;
}

.menu-items {
  grid-area: menu-items;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.menu-items div:not(:last-child) {
  margin-right: 60px;
}

.search {
  grid-area: search;
  display: flex;
  justify-content: flex-end;
}
