html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

*:after,
*:before,
* {
  box-sizing: inherit;
}

body {
  margin: 0;
}

a {
  -webkit-text-decoration-skip: objects;
}

.children {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;
}
