@import 'styles/variables';

.link {
  color: $color-links;
  text-decoration-color: transparent;
  font-weight: bold;
  transition: all 200ms ease-out;

  &:hover {
    text-decoration-color: $color-links;
  }
}
