.searchContainer {
  position: relative;
  width: 500px;
}

.searchInput {
  border: 0;
  border-radius: 2px;
  padding: 10px 15px;
  width: 100%;
}

.searchResultsBox {
  position: absolute;
  background-color: white;
  list-style-type: none;
  margin: 0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.searchResultsBox li {
  margin-bottom: 0;
}

.searchResultLink {
  position: relative;
  padding: 16px;
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  background-color: white;
  transition: background-color 150ms ease-in-out;

  &:focus,
  &:hover {
    background-color: rgb(217, 244, 255);
  }
}
