@import 'styles/variables';

.searchContainer {
  position: relative;
  width: 100%;
}

.searchInputContainer {
  display: flex;
  border-bottom: 1px solid $color-border;
}

.searchInput {
  border: 0;
  border-radius: 0;
  padding: 10px 15px 5px;
  width: 100%;
}

.searchIcon {
  color: $color-text-secondary;
  font-size: 0.9em;
  margin-left: 10px;
  position: relative;
  top: 2px;
  align-self: center;
}

.searchIcon svg {
  vertical-align: middle;
}

.searchInput::placeholder {
  line-height: 1.4;
}

.searchResultsBox {
  position: absolute;
  background-color: white;
  list-style-type: none;
  margin: 0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.14);
  border-radius: 3px;
}

.searchResultsBox li {
  margin-bottom: 0;
}
